
.topBar button{
  background-color: greenyellow;
  height: 5rem;
  width: 33%;
  font-size: 2rem;

}

.topBar button:first-child{
  border-radius: 1rem 0 0 1rem;
}

.topBar button:last-child{
  border-radius: 0 1rem 1rem 0;  
}

.states{
  height: 4rem;
  width: 99%;
  background: seashell;
  border-radius: 0.5rem;
  font-size: 25px;
}

.input{
  margin-left: 10rem;
  height: 2.5rem;
  width: 96rem;
  margin-left: 2rem;
}

.addButton{
  margin-top: 30rem;
  margin-left: 100rem;
  height: 3rem;
  font-size: 1.5rem;
}

.states:focus{
  background: greenyellow;
}


.middleBar{
  overflow-y: auto;
}
