
.topBar button{
  background-color: aqua;
  height: 5rem;
  width: 30rem;
  font-size: 2rem;
}

.topBar button:first-child{
  border-radius: 1rem 0 0 1rem;
}

.topBar button:last-child{
  border-radius: 0 1rem 1rem 0;  
}

.states{
  height: 4rem;
  width: 100%;
  background: seashell;
  border-radius: 0.5rem;
  font-size: 25px;
}

.input{
  height: 2rem;
  width: 50rem;
  margin-top: 30rem;
}

.downBar{
    margin-top: 50rem;
}